<h1>Login</h1>
<form action="/session/login" method="post">
    Email: <input type="text" name="email" id="email" required><br>
    Contraseña: <input type="text" name="password" id="password" required><br>
    <br><input type="submit" value="Login">
</form>
<br><a href="/session/register">Registrarse</a>