<div class="container">
  <div class="d-flex flex-column">
    <h2 class="my-3 text-center">Registro</h2>
  </div>
</div>
<form action="/session/register" method="post">
  <div class="container">
    <div class="d-flex flex-row justify-content-around">
      <div class="col-4">
        <div class="row">
          Nombre
          <input type="text" name="first_name" id="first_name" required /><br />
        </div>
        <div class="row">
          Apellido:
          <input type="text" name="last_name" id="last_name" required /><br />
        </div>
        <div class="row">
          Email:
          <input type="text" name="email" id="email" required /><br />
        </div>
        <div class="row">
          Edad:
          <input type="text" name="age" id="age" required /><br />
        </div>
        <div class="row">
          Contraseña:
          <input type="text" name="password" id="password" required /><br />
        </div>
        <input class="mt-3" type="submit" value="Registrarse" />
      </div>
    </div>
  </div>
</form>