<div id="formContainer">
  <h2>Cargar un producto</h2>
  <div>Titulo:</div>
  <div><input type="text" id="title" /></div>
  <div>Description:</div>
  <div><input type="text" id="description" /></div>
  <div>Precio:</div>
  <div><input type="text" id="price" /></div>
  <div>Imagen:</div>
  <div><input type="text" id="thumbnail" /></div>
  <div>Codigo:</div>
  <div><input type="text" id="code" /></div>
  <div>Stock:</div>
  <div><input type="text" id="stock" /></div>
  <button id="btnCrear">Crear</button>
</div>
<div>
  <h2>Eliminar producto</h2>
  <div>Id:</div>
  <div><input type="text" id="id"></div>
  <button id="btnDelete">Eliminar</button>
</div>
<div id="productsContainer">
  <h2>Listado de productos</h2>
  
</div>

<div id="historyProducts"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/socketClient.js"></script>